body {
  background: $base-color;
  margin-top: 6rem;
}

h1, h2, h3, h4 {
  color: $titling-color;
  font-family: "omnes-pro", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 6rem;
  font-size: 240%;
}

footer {
  padding: 0 0 4em;
  text-align: center;

  a {
    color: $titling-color;
    font-size: 80%;
    padding-bottom: 1px;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid lighten($titling-color, 10%)
    }
  }
}
