$base-color: #efebe3;
$titling-color: #6b665d;

$excited:     rgb(218, 255, 24);
$optimistic:  rgb(0, 173, 255);
$important:   rgb(255, 122, 0);
$entertained: rgb(61, 0, 255);
$happy:       #339e30;
$neutral:     #c0c0c0;
$angry:       rgb(179, 0, 8);
$jealous:     rgb(109, 119, 0);
$frustrated:  rgb(94, 0, 66);
$leftout:     #fff;
$anxious:     rgb(179, 0, 150);
$disturbed:   rgb(107, 44, 2);
$shocked:     rgb(0, 100, 76);
