.promotion {
  background: lighten($base-color, 5%);
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;

  img {
    border: 1px solid lighten($titling-color, 20%);
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 90%;
  }
}

aside {
  background: lighten($base-color, 5%);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding-top: 5%;
  position: fixed;
  top: 0;
  width: 50%;

  header.home {
    margin: auto;
    max-width: 450px;

    p {
      line-height: 1.4em;
      text-align: center;
    }
  }
}
