section.moods, section.moods-form-wrapper {
  margin: auto;
  overflow: auto;
  padding: 0 0 2em 0;
  width: 50%;

  .intro-explain {
    line-height: 1.4em;
    margin: auto;
    margin-bottom: 4rem;
    font-size: 120%;
    max-width: 400px;
  }

  .mood {
    color: darken($titling-color, 20%);
    display: block;
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid darken($base-color, 10%);
    position: relative;

    .meta {
      display: block;
      font-size: 80%;
      line-height: 1.4em;
      text-align: center;

      .timestamp, .duration {
        display: block;
      }

      .timestamp {
        text-transform: lowercase;
      }

      .duration {
        font-weight: bold;
      }
    }

    figure {
      display: block;
      position: absolute;
      top: 0;

      &.happy, &.neutral {
        right: 70%;

        p {
          float: left;
          text-align: right;
        }

        &:before {
          float: right;
          margin-left: .5em;
        }
      }

      &.angry, &.jealous, &.frustrated, &.leftout, &.disturbed {
        left: 70%;

        p {
          float: left;
        }

        &:before {
          float: left;
          margin-right: .5em;
        }
      }

      p {
        display: block;
        margin: 0;
      }

      &:before {
        border-radius: 100px;
        content: '';
        display: block;
        height: 1em;
        width: 1em;
      }

      &.happy:before {
        background: $happy;
      }

      &.neutral:before {
        background: $neutral;
      }

      &.angry:before {
        background: $angry;
      }

      &.jealous:before {
        background: $jealous;
      }

      &.frustrated:before {
        background: $frustrated;
      }

      &.disturbed:before {
        background: $disturbed;
      }

      &.leftout:before {
        background: $leftout;
      }
    }
  }

  .mood-form {
    text-align: center;

    span {
      line-height: 1.4em;
    }

    span.herald {
      display: block;
    }

    figure {
      display: block;
      margin-top: 4em;
      overflow: visible;
      text-align: center;

      span {
        cursor: pointer;
        display: inline-block;;
        font-size: 80%;
        margin: 0 1em 2em 1em;
        text-align: center;
        -webkit-transition: all .2s ease;

        &:hover {
          -webkit-transform: scale(1.3);
        }

        &.leftout {
          margin-right: 0;
        }

        &:before {
          background: #000;
          border-radius: 100px;
          content: '';
          display: block;
          height: 82px;
          margin-bottom: .2em;
          width: 82px;
        }

        &.happy:before {
          background: $happy;
        }

        &.neutral:before {
          background: $neutral;
        }

        &.angry:before {
          background: $angry;
        }

        &.jealous:before {
          background: $jealous;
        }

        &.frustrated:before {
          background: $frustrated;
        }

        &.disturbed:before {
          background: $disturbed;
        }

        &.leftout:before {
          background: $leftout;
        }
      }
    }
  }
}
