section.moods, section.moods-form-wrapper {
  margin: auto;
  overflow: auto;
  padding: 0 0 2em 0;
  width: 500px;

  .summary {
    line-height: 1.4em;
    margin-bottom: 4em;
    text-align: center;

    figure.breakdown {
      display: block;
      margin-top: 4em;
      overflow: visible;
      text-align: center;

      span {
        display: inline-block;;
        font-size: 80%;
        margin: 0 1em 2em 1em;
        text-align: center;
        -webkit-transition: all .2s ease;

        // sample sizes
        &:nth-child(1):before {
          -webkit-transform: scale(.5);
        }
        &:nth-child(2):before {
          -webkit-transform: scale(.8);
        }
        &:nth-child(3):before {
          -webkit-transform: scale(.75);
        }
        &:nth-child(4):before {
          -webkit-transform: scale(.2);
        }
        &:nth-child(5):before {
          -webkit-transform: scale(.1);
        }
        &:nth-child(6):before {
          -webkit-transform: scale(.9);
        }
        &:nth-child(7):before {
          -webkit-transform: scale(1);
        }

        &:before {
          background: #000;
          border-radius: 100px;
          content: '';
          display: block;
          height: 82px;
          margin-bottom: .2em;
          width: 82px;
        }

        @include span-before-colors;
      }
    }
  }

  .intro-explain {
    line-height: 1.4em;
    margin: auto;
    margin-bottom: 4rem;
    font-size: 120%;
    max-width: 400px;
  }

  .mood {
    color: darken($titling-color, 20%);
    display: block;
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid darken($base-color, 10%);
    position: relative;

    .meta {
      display: block;
      font-size: 80%;
      line-height: 1.4em;
      text-align: center;

      .timestamp, .duration {
        display: block;
      }

      .timestamp {
        text-transform: lowercase;
      }

      .duration {
        font-weight: bold;
      }
    }

    figure {
      display: block;
      position: absolute;
      top: 0;

      &.excited,
      &.optimistic,
      &.important,
      &.entertained,
      &.happy,
      &.neutral {
        right: 70%;

        p {
          float: left;
          text-align: right;
        }

        &:before {
          float: right;
          margin-left: .5em;
        }
      }

      &.angry,
      &.jealous,
      &.frustrated,
      &.leftout,
      &.anxious,
      &.disturbed,
      &.shocked {
        left: 70%;

        p {
          float: left;
        }

        &:before {
          float: left;
          margin-right: .5em;
        }
      }

      p {
        display: block;
        margin: 0;
      }

      &:before {
        border-radius: 100px;
        content: '';
        display: block;
        height: 1em;
        width: 1em;
      }

      @include span-before-colors;
    }
  }

  .mood-form {
    text-align: center;

    span {
      line-height: 1.4em;
    }

    span.herald {
      display: block;
    }

    figure {
      display: block;
      margin-top: 4em;
      overflow: visible;
      text-align: center;

      span {
        cursor: pointer;
        display: inline-block;;
        font-size: 80%;
        margin: 0 1em 2em 1em;
        text-align: center;
        -webkit-transition: all .2s ease;

        &:hover {
          -webkit-transform: scale(1.3);
        }

        &:active {
          -webkit-transition: all .1s ease;
          -webkit-transform: scale(.9);
        }

        &:before {
          background: #000;
          border-radius: 100px;
          content: '';
          display: block;
          height: 82px;
          margin-bottom: .2em;
          width: 82px;
        }

        @include span-before-colors;
      }
    }
  }
}
