section.moods {
  margin: auto;
  overflow: auto;
  padding: 0 0 2em 0;
  width: 50%;

  .intro-explain {
    line-height: 1.4em;
    margin: auto;
    margin-bottom: 4rem;
    font-size: 120%;
    max-width: 400px;
  }

  .mood {
    color: darken($titling-color, 20%);
    display: block;
    margin-bottom: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid darken($base-color, 10%);
    position: relative;

    .meta {
      display: block;
      font-size: 80%;
      line-height: 1.4em;
      text-align: center;

      .timestamp, .duration {
        display: block;
      }

      .timestamp {
        text-transform: lowercase;
      }

      .duration {
        font-weight: bold;
      }
    }

    figure {
      display: block;
      position: absolute;
      top: 0;

      &.happy, &.neutral {
        right: 70%;

        p {
          float: left;
          text-align: right;
        }

        &:before {
          float: right;
          margin-left: .5em;
        }
      }

      &.angry, &.jealous, &.frustrated, &.leftout {
        left: 70%;

        p {
          float: left;
        }

        &:before {
          float: left;
          margin-right: .5em;
        }
      }

      p {
        display: block;
        margin: 0;
      }

      &:before {
        border-radius: 100px;
        content: '';
        display: block;
        height: 1em;
        width: 1em;
      }

      &.happy:before {
        background: #339e30;
      }

      &.neutral:before {
        background: #ccc;
      }

      &.angry:before {
        background: #d2000a;
      }

      &.jealous:before {
        background: #88a403;
      }

      &.frustrated:before {
        background: #690a4d;
      }

      &.leftout:before {
        background: #0c0874;
      }
    }
  }
}
